@charset "utf-8";
/* MINDsLab. UX/UI Team. YMJ. 20180825 */ 

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#02112e; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#007eff; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {
  0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {
  0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {
  0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

body {background:#f3f6f8;}

/* IE 지원 브리우저 안내메세지 */ 
.legacy_browser {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/bg_legacy_browser.png) 0 0 repeat; z-index:9999;}
.legacy_browser .legacyBox {overflow:hidden; position:absolute; top:50px; left:50%; width:400px; margin:0 0 0 -200px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.5); background:#fff;}
.legacy_browser .legacyBox .tit {clear:both; overflow:hidden; padding:10px 20px; background:#183554;}
.legacy_browser .legacyBox .tit h1 {float:left;}
.legacy_browser .legacyBox .tit h1 img {width:120px;}
.legacy_browser .legacyBox .tit .btn_legacy_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-999px; border:none; background:url(../images/btn_legacy_close_w.png) 50% 50% no-repeat; opacity:0.3; cursor:pointer;}
.legacy_browser .legacyBox .txt {display:block; padding:20px; color:#333; font-size:15px; line-height:24px; word-break:keep-all;}
.legacy_browser .legacyBox .txt a {color:#007eff;}
.legacy_browser .legacyBox .txt a:hover, .legacy_browser .legacyBox .txt a:focus {text-decoration:underline;}

/* Login */ 
.loginWrap {overflow:hidden; position:absolute; top:50%; left:50%; width:600px; height:300px; margin:-150px 0 0 -300px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.1); background:#fff;}
.loginWrap fieldset {display:block; float:left; width:100%; height:100%;}
.loginWrap .loginBox {display:table; width:100%; height:100%;}
.loginWrap .fl {display:table-cell; width:50%; height:100%; text-align:center; vertical-align:middle; background-color:#183554; background-image:linear-gradient(135deg, #183554, #05172a);}
.loginWrap .fr {display:table-cell; width:50%; padding:0 55px; text-align:center; vertical-align:middle;}

.loginWrap .fr span {display:block; position:relative; margin:0 0 5px 0;}
.loginWrap .fr span .ipt_txt {display:block; width:calc(100% - 39px); height:36px; padding:0 5px 0 30px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginWrap .fr span .ipt_txt:focus {border:2px solid #007eff; box-shadow:inset 2px 2px 5px rgba(0,0,0,0); transition:all 0.3s ease-out;}
.loginWrap .fr span #ipt_id {background:#e6ecf1 url(../images/ico_login_id.png) 10px 50% no-repeat;}
.loginWrap .fr span #ipt_pw {background:#e6ecf1 url(../images/ico_login_pw.png) 10px 50% no-repeat;}

.loginWrap .fr span .disbBox {position:absolute; top:0; left:0; width:100%; height:100%;}
.loginWrap .fr span .btn_login {display:block; width:100%; height:36px; color:#fff; font-size:14px; line-height:36px; border:none; border-radius:5px; background:#007eff; cursor:pointer; transition:all 0.3s ease-out;}
.loginWrap .fr span .btn_login.disabled {background:#aeb5bd;}

.checks { padding:0 0 5px 2px; text-align:left;}
.checks input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#767f89; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.checks input[type="checkbox"] + label:before {content:''; display:inline-block; overflow:hidden; width:18px; height:18px; line-height:18px; margin:-2px 5px 0 0; text-align:center; vertical-align:middle; background:#fafafa; border:none; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e6ecf1; transition:all 0.3s ease-out;} 
.checks input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#007eff; transition:all 0.3s ease-out;}


.copyRight {position:absolute; bottom:20px; width:100%; color:#8b939b; text-align:center;}













